div.students-community div {
	background-color: white;
}

div.students-community div h2 {
	font-family: 'Lato', sans-serif;
	font-style: bold;
	font-weight: 900;
	margin-top: 60px;
	margin-bottom: 40px;
	/*color: rgb(51, 122, 183);*/
	color: #060;
	text-align: center;
}

.tableChart {
	height: 100%;
	width: 100%;
}

.otherChart {
	height: 350px;
	width: 100%;
}