<div class="row">
	<div class="col-xs-12">
		<!-- Toolbar -->
		<dl>
			<span ng-repeat="cat in categories">
				<dt style="margin-top: 2px; margin-bottom: 5px;">
					<span style="color: red" ng-hide="isSelected(cat)">
						<span class="glyphicon glyphicon-exclamation-sign"></span>
					</span>
					{{cat.description}}
					<div class="btn-group" role="group">
						<label type="button" class="btn btn-success btn-xs" ng-click="selectCategoryFirst(cat)"> <span class="glyphicon" aria-hidden="true">
								<b>1</b>
							</span>
						</label> <label type="button" class="btn btn-success btn-xs" ng-click="selectCategory(cat)"> <span class="glyphicon glyphicon glyphicon-check"
								aria-hidden="true"
							></span>
						</label> <label type="button" class="btn btn-success btn-xs" ng-click="unselectCategory(cat)"> <span class="glyphicon glyphicon glyphicon-unchecked"
								aria-hidden="true"
							></span>
						</label>
					</div>
				</dt>
				<dd>
					<div class="btn-group">
						<label ng-repeat="tag in cat._tags | orderBy: '+order'" class="btn btn-success btn-xs" ng-model="model[cat._id][tag._id]" btn-checkbox>{{tag.description}}</label>
					</div>
				</dd>
			</span>
		</dl>
	</div>
</div>
