<div class="row">
	<div class="col-xs-12">
		<div ng-include="'./nav/nav.html'"></div>
	</div>
</div>
<div class="row students-academic-level">
	<div class="col-xs-12">
		<h2>{{title}}</h2>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<div class="btn-toolbar">
			<!-- Information type -->
			<div class="btn-group">
				<button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<!-- {{chartFactory.name}} 
					Students  -->
					<span class="glyphicon  glyphicon-option-vertical" aria-hidden="true"></span>
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu">
					<li>
						<a href="#">by Academic Level</a>
					</li>
					<li>
						<a href="#">by University</a>
					</li>
				</ul>
			</div>
			<div class="btn-group">
				<label class="btn btn-success" ng-model="chartFactory" btn-radio="chartFactories[0]"><span class="glyphicon  glyphicon-list" aria-hidden="true"></span></label>
				<!--  -->
				<label class="btn btn-success" ng-model="chartFactory" btn-radio="chartFactories[1]"><span class="glyphicon  glyphicon-menu-hamburger"
						aria-hidden="true"
					></span></label>
				<!--  -->
				<label class="btn btn-success" ng-model="chartFactory" btn-radio="chartFactories[2]"><span class="glyphicon  glyphicon-align-justify"
						aria-hidden="true"
					></span></label>
				<!--  -->
				<label class="btn btn-success" ng-model="chartFactory" btn-radio="chartFactories[3]"><span class="glyphicon  glyphicon-object-align-bottom"
						aria-hidden="true"
					></span></label>
				<!--  -->
				<label class="btn btn-success" ng-model="chartFactory" btn-radio="chartFactories[4]"><span class="glyphicon  glyphicon-stats" aria-hidden="true"></span></label>
				<!--  -->
				<label class="btn btn-success" ng-model="chartFactory" btn-radio="chartFactories[5]"><span class="glyphicon  glyphicon-cd" aria-hidden="true"></span></label>
				<!--  -->
			</div>
			<div class="btn-group">
				<label type="button" class="btn btn-success" ng-model="tagFilter.open" btn-checkbox btn-checkbox-true="true" btn-checkbox-false="false"><span
						class="glyphicon glyphicon-filter" aria-hidden="true"
					></span></label>
				<!-- -->
				<label type="button" class="btn btn-success" ng-click="checkFirsts()"> <span class="glyphicon" aria-hidden="true">
						<b>1</b>
					</span>
				</label>
				<!-- -->
				<label type="button" class="btn btn-success" ng-click="checkAll()"> <span class="glyphicon glyphicon-check" aria-hidden="true"></span>
				</label>
				<!-- -->
				<label type="button" class="btn btn-success" ng-click="uncheckAll()"> <span class="glyphicon  glyphicon-unchecked" aria-hidden="true"></span>
				</label>
				<!-- -->
			</div>
			<div class="btn-group">
				<label type="button" class="btn btn-success " ng-click="applyFilter()"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></label>
			</div>
		</div>
	</div>
</div>


<!-- 
<div class="row" ng-show="tagFilter.open">
	<div class="col-xs-12">
		<dl>
			<span ng-repeat="cat in tagCategories">
				<dt>
					<p>
					<div class="btn-group" role="group" aria-label="...">
						<label type="button" class="btn btn-success btn-xs" ng-click="checkFirst(cat)"> <span class="glyphicon" aria-hidden="true">
								<b>1</b>
							</span>
						</label> <label type="button" class="btn btn-success btn-xs" ng-click="check(cat)"> <span class="glyphicon glyphicon glyphicon-check" aria-hidden="true"></span>
						</label> <label type="button" class="btn btn-success btn-xs" ng-click="uncheck(cat)"> <span class="glyphicon glyphicon glyphicon-unchecked"
								aria-hidden="true"
							></span>
						</label>
					</div>
					{{cat.description}}
					</p>
				</dt>
				<dd>
					<div class="btn-group">
						<label ng-repeat="tag in cat._tags | orderBy: '+order'" class="btn btn-success btn-xs" ng-model="tagFilter.model[cat._id][tag._id]" btn-checkbox
							ng-change="filterChanged(tag)"
						>{{tag.description}}</label>
					</div>
				</dd>
			</span>
		</dl>
	</div>
</div>
 -->


<div class="row">
	<div class="col-xs-12">
		<tag-filter tag-categories={tagCategories} ng-show="showFilter"/>
	</div>
</div>
 
 
<div class="row">
	<div class="col-xs-12">
		<div style="min-height: 300px;">
			<span
				us-spinner="{lines: 13, length: 28, width: 14, radius: 42, scale: 1, corners: 1, color: '#060', opacity: 0.25, rotate: 0, direction: 1, speed: 1, trail: 60, fps: 20, zIndex: 2e9, className: 'spinner', top: '50%', left: '50%', shadow: false, hwaccel: false}"
				spinner-key="spinner-1"
			></span>
			<div google-chart chart="chart" on-ready="chartReady(chartWrapper)" on-select="chartSelectedItem(selectedItems, selectedItem, chartWrapper)"
				on-click="chartClicked(chart)" style="width: 100%; height: 100%;"
			></div>
		</div>
	</div>
</div>