<div class="row">
	<div class="col-xs-12">
		<div ng-include="'./nav/nav.html'"></div>
	</div>
</div>
<div class="row students-academic-level">
	<div class="col-xs-12">
		<h2>{{title}}</h2>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<ul class="nav nav-pills">
			<li role="presentation" class="active">
				<a href="#">by Level</a>
			</li>
			<li role="presentation">
				<a href="#">by Education</a>
			</li>
			<li role="presentation">
				<a href="#">Messages</a>
			</li>
		</ul>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<accordion> <accordion-group is-open="tagFilter.open"> <accordion-heading> {{tagFilter.title}} <i
			class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': tagFilter.open, 'glyphicon-chevron-right': !tagFilter.open}"
		></i> </accordion-heading>
		<dl>
			<span ng-repeat="cat in tagCategories">
				<dt>
					<p>
					<div class="btn-group" role="group" aria-label="...">
						<button type="button" class="btn btn-default btn-xs" ng-click="check(cat)">
							<span class="glyphicon glyphicon glyphicon-check" aria-hidden="true"></span>
						</button>
						<button type="button" class="btn btn-default btn-xs" ng-click="uncheck(cat)">
							<span class="glyphicon glyphicon glyphicon-unchecked" aria-hidden="true"></span>
						</button>
					</div>
					{{cat.description}}
					</p>
				</dt>
				<dd>
					<div class="btn-group">
						<label ng-repeat="tag in cat._tags | orderBy: '+order'" class="btn btn-default btn-xs" ng-model="tagFilter.model[cat._id][tag._id]" btn-checkbox
							ng-change="filterChanged(tag)"
						>{{tag.description}}</label>
					</div>
				</dd>
			</span>
		</dl>
		<p style="text-align: right">
			<button type="button" class="btn btn-default" ng-click="applyFilter()">Apply</button>
		</p>
		</accordion-group></accordion>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<form style="margin-bottom: 10px">
			<div class="btn-group">
				<label class="btn btn-default btn-xs" ng-model="chartTypeModel" btn-radio="'FullTable'" ng-click="setFullTableChart()" uncheckable>Full Table</label> <label
					class="btn btn-default btn-xs" ng-model="chartTypeModel" btn-radio="'SummaryTable'" ng-click="setSummaryTableChart()" uncheckable
				>Summary Table</label> <label class="btn btn-default btn-xs" ng-model="chartTypeModel" btn-radio="'DescriptionTable'" ng-click="setDescriptionTableChart()"
					uncheckable
				>Description Table</label> <label class="btn btn-default btn-xs" ng-model="chartTypeModel" btn-radio="'Column'" ng-click="setColumnChart()" uncheckable>Bar</label>
				<label class="btn btn-default btn-xs" ng-model="chartTypeModel" btn-radio="'Line'" ng-click="setLineChart()" uncheckable>Line</label> <label
					class="btn btn-default btn-xs" ng-model="chartTypeModel" btn-radio="'Pie'" ng-click="setPieChart()" uncheckable
				>Pie </label>
				<!-- ng-show="isOneYearOnly"
					ng-hide="!isOneYearOnly" -->
			</div>
		</form>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<div google-chart chart="chart" on-ready="chartReady(chartWrapper)" on-select="chartSelectedItem(selectedItems, selectedItem, chartWrapper)"
			on-click="chartClicked(chart)" style="width: 100%; height: 100%;"
		></div>
	</div>
</div>